@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Ubuntu:wght@400;500&display=swap');.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 37px;
    grid-row-gap: 44px;
    margin-bottom: 50px;
}
hr{
    padding: 0;
    margin:0;
}
.articles-container {
    margin-top: 100px;
    max-width: 1100px;
}

.articles-title {
    margin-bottom: 70px;
    text-align: center;
    font-size: 30px;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 300px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    padding: 10px;
}

.article:hover {
    transform: translateY(-3px);
    background-color: #b6c2cb1a;
    border-radius: 40px;
}
.article:hover .article-desc{
    opacity: 1;
}

.article:active {
    transform: translateY(0);
    box-shadow: none;

}

.article-photo {
    width: 100%;
    height: 70%;
    object-fit: cover;
    box-shadow: 0px 0px 3px rgb(196, 193, 193);
    border-radius: 40px;

}

.article-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    padding: 0px 15px;
    margin-top:10px;
}

.article-title {
    font-family: 'Ubuntu',sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #1a1a1aa9;
    margin:5px 0px
    
}


.hr-article{
    width: 100%;
    border: 0;
    background-color: #808080;
    height: 1px;
    border-radius: 1px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.article-desc{
    width: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.article-categorie-container{
    font-family: 'Chakra Petch', sans-serif;display: flex;
justify-content:space-between;
font-size: 13px;
padding: 0px 25px;
font-weight: 500;
align-items: center;
}

.mread{
    font-family: 'Chakra Petch', sans-serif;display: flex;
    display: flex;
    color: #808080;
    align-items: center; 
}
.categorie{
    font-family: 'Chakra Petch', sans-serif;display: flex;
    color: #808080;

}
.clock-logo{
    width: 12px;
    margin-right: 4px;
}

@media (max-width:1121px) {
    .articles {
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(2, 350px);
        justify-content: center;
    }
}

@media (max-width:780px) {
    .articles {
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(2, 300px);
    }

    .article-title {
        font-size: 0.8em;
    }
}


@media (max-width:570px) {
    .articles {
        grid-template-columns: repeat(2, 230px);
        grid-template-rows: repeat(2, 250px);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }

    .articles-title {
        font-size: 20px;
    }

    .article-title {
        font-size: 0.6em;
    }
    .mread,.categorie {
        font-size: 0.7em;
    }

}

@media (max-width:500px) {
    .articles {
        grid-template-columns: repeat(2, 221px);
        grid-template-rows: repeat(2, 250px);
        grid-column-gap: 20px;
        grid-row-gap: 35px;
    }

    .articles-title {
        font-size: 15px;
        margin-bottom: 35px;
    }

    .article-title {
        font-size: 0.6em;
    }

    .articles-container {
        margin-top: 70px;
    }
    .article-info{
        padding: 0px 5px;
        margin-top:7px;
    }
}


@media (max-width:400px) {
    .articles {
        grid-template-columns: repeat(2, 160px);
        grid-template-rows: repeat(2, 160px);
    }
    .article-title {
        font-size: 0.5em;
    }
}